/*     Generale */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/*     Header Page */

header {
width: 100%;
height: 48px;
margin-bottom: 20px;
}
header h1 {
  margin-top: 20px;
  float: left;
  margin-left: 60px;
  color: rgb(19, 18, 18);
}
header h1 span {
  color: #D75913;
}
header nav {
  float: right;
  margin-top: 20px;
}

header nav ul {
  display: flex;
 list-style: none;

}
header nav ul li {
 margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(19, 18, 18);
 }

 .container-fluid {
   /* width: 1260px; */
   height: 434px;
   background-image: url('../img/baniere.jpg');
  /* background-image: cover; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 #titre-principal {
width: 450px;
margin:auto;
margin-top: 80px;
font-size: 37px ;
color: #444444;
 }

.pari {
  width: 100px;
  height: 50px;
  text-align: center;
  margin: auto;
}
.pari 
button {
  width: 120px;
  height: 40px;
  background-color: #D75913;
  margin-top: 20px;
  margin-right: 70px;
  border: none;
  border-radius:3px ;
  -webkit-border-radius:3px ;
  -moz-border-radius:3px ;
  -ms-border-radius:3px ;
  -o-border-radius:3px ;
}
 .pari 
 button a {
  text-decoration: none;
  color: #fff;
 }
.article {
width: 80%;
  height: 189px;
  display: flex;
 margin: 0 auto 0 auto;
 margin-top: 40px;
 margin-bottom: 40px;
 margin: auto;
}
.article  img {
width: 65px;
height: 65px;
margin-bottom: 20px;
}
.article-1 {
  margin: auto;
  width: 290px;
  height: 180px;
  text-align: center;
}
.article-1  h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.article-1 p {
  color: #AFA7A7;
  font-size: 13px;
}

.circuit {
  width: 100%;
  height: 313px;
  float: left;
  display: flex;
  background-color: #4444442f;
  margin-bottom: 40px;
}
.circuit-1 {
  margin-left: 10%;
  position: relative;
}

.circuit-1 img {
  width: 412px;
  height: 227px;
  border-radius:10px;
  margin-top: 30px;
}

.article-contenu {
  width: 206px;
  height: 227px;
  position: absolute;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.89);
  text-align: center   ;
  border-radius:10px 0  0 10px;
}
.article-contenu h4 {
  width: 100px;
  margin-top: 20px;
  text-align: center;
  margin: 20px  auto 20px auto;
  border-bottom: 1px #AFA7A7 solid;
  margin-bottom: 20px;
}

.article-contenu p {
  color: #AFA7A7;
 font-style: italic;
 margin: 4px;
 font-size: 13px;
}

.article-contenu button {
  width: 121px;
  height: 25px;
  background-color: #D75913;
  border: none;
  border-radius:3px;
  margin-top: 20px;
}

.article-contenu .btn-article  a {
  color: #fff;
 }

.contact {
  margin-bottom: 40px;
  text-align: center;
}
.contact h3 {
  width: 350px;
  border-bottom: 1px #AFA7A7 solid;
 
  text-align: center;
  margin: auto;
}
.contact p {
  width: 871px;
  margin: auto;
  margin-bottom: 30px;
  color: #AFA7A7;
  font-size: 13px;
}
.form-input {
  width: 159px;
  height: 30px;
  margin: 10px;
  border: #C4C4C4 solid 1px;
  border-radius:3px;
}

.form-btn {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #3FA6C7;
  border: none;
  color: #fff;
}

footer {
  width: 100%;
  height: 92px;
  background-color: #444444;
}
footer h1 {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: bold 20px;
}
footer span {
  color: #D75913;
}
footer h1, p {
  margin: auto;
  text-align: center;
}

footer p {
  color: #AFA7A7;
font-size: 12px;
margin-top: 10px;
}